@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.custom-container {
  padding: 16px;
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
}

.scrollable-container::-webkit-scrollbar {
  display: none; 
}

.card {
  min-width: 200px; /* Set a minimum width for product cards */
  flex: 0 0 auto; /* Prevent shrinking and ensure each card stays the same size */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  transition: box-shadow 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  height: 150px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.card-content h3 {
  font-size: 16px;
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #171A1F;
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #171A1F;
}
