@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}

.slick-dots{
  bottom: 0 !important;
  font-size: 7px !important;
}
.slick-dots li button:hover, .slick-dots li button:focus 
 { outline: none; }


.slick-dots li button:before 
 { color: #BDC1CA !important;border-radius:10px; font-size: 10px !important;}

.slick-dots li.slick-active button:before 
 { color: #BDC1CA !important;   background-color:#BDC1CA !important; height: 15px; width: 15px;
 }
.slick-dots li button::before {
   content: "";
   }
   
/* slider color car page pricerange filer */
.css-188mx6n-MuiSlider-root{
  color: red !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 9999px !important;
  padding: 0px !important;
}